<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face view</title>
</head>
<body>
<h1>Face view</h1>
<a href="/newPost">Create post</a>
<ul>
    <% posts.forEach(post => { %>
        <li>
            <span class="label">Post ID:</span> <%= post.id %><br>
            <span class="label">Text:</span> <%= post.text %><br>
            <span class="label">Time:</span> <%= new Date(post.timestamp).toLocaleString() %><br>
            <span class="label">Likes:</span> <%= post.likes %><br>
            <form action="/posts/<%= post.id %>/like" method="POST" style="display: inline;">
                <button type="submit">Like</button>
            </form>
            <form action="/posts/<%= post.id %>/delete" method="POST" style="display: inline;">
                <button type="submit">Delete</button>
            </form>
            <a href="/posts/<%= post.id %>/edit">Edit post</a>
        </li>
    <% }) %>
</ul>

</body>
</html>